.container {
	max-width: 800px;
	margin: auto;
	text-align: center;
}

h1 {
	font-size: 36x;
	padding-top: 40px;
    text-align: center;
}

#question {
	font-size: 30px;
	padding-top: 40px;
	margin-bottom: 20px;

}

#options {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

#start-btn{
	font-size:16px;
	margin: 40px;
	position: absolute;
    padding: 10pxpx;
    background-color: rgb(43, 4, 80);
    color: white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.highScores {
	font-size: 15px;
	margin-top: 10px;
    float:left;

}

#timer {
	font-size: 15px;
	margin-top: 10px;
    float:right;
}

#submit {
	font-size: 14px;
	margin-top: 20;
	padding: 5px 10px;
}
#label {
	font-size: 16px;
	font-weight: bold;
	padding-left:750px;
    padding-top: 50px;

}
p {
    text-align: center;
	font-size: 20px;
}

#options {
	
	left: 50%;
}

h2 {
	font-size: 36x;
	padding-top: 40px;
    text-align: center;

}

.hidden {
	display: none;
}